@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "bootstrap/scss/bootstrap";

* {
    font-family: 'Share Tech Mono', monospace;
}

._mylogo {
    width: 100px;
}

._mytitle {
    font-weight: 700;
}